.page__subnav, .main-nav, .detail-nav__list, .detail-nav__list--desk, .industries__list, .clients__list, .social-link__list, .four-up, .outtro__featured-list, .outtro ul, .client-nav, .news {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page__subnav a, .main-nav a, .detail-nav__list a, .detail-nav__list--desk a, .industries__list a, .clients__list a, .social-link__list a, .four-up a, .outtro__featured-list a, .outtro ul a, .client-nav a, .news a {
  text-decoration: none;
}

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

@font-face {
  font-family: 'accent_normal';
  src: url("/_themes/ml-bell/fonts/Novecentosanswide-Normal-webfont.eot");
  src: url("/_themes/ml-bell/fonts/Novecentosanswide-Normal-webfont.eot?#iefix") format("embedded-opentype"), url("/_themes/ml-bell/fonts/Novecentosanswide-Normal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'accent_normal';
  src: url("/_themes/ml-bell/fonts/Novecentosanswide-Bold-webfont.eot");
  src: url("/_themes/ml-bell/fonts/Novecentosanswide-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/_themes/ml-bell/fonts/Novecentosanswide-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
.page__title, .main-nav, .detail-nav__text, .industries, .footer, .footer__sitenav, .three-up__header, .four-up__title, .client-nav, .contact-form .contact-form__submit {
  font-family: 'accent_normal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

@font-face {
  font-family: 'accent_narrow';
  src: url("/_themes/ml-bell/fonts/Novecentosanswide-Light-webfont.eot");
  src: url("/_themes/ml-bell/fonts/Novecentosanswide-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/_themes/ml-bell/fonts/Novecentosanswide-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sans';
  src: url("/_themes/ml-bell/fonts/FiraSans-Light.eot");
  src: url("/_themes/ml-bell/fonts/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("/_themes/ml-bell/fonts/FiraSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.page, .page__subnav, .content, .body__headline, .clients, .footer__contact, .footer__copyright {
  font-family: 'fira_sans';
}

@media (min-width: 1200px) {
  .header, .hero__container, .body__container, .industries, .clients, .footer__container, .footer__copyright {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

body {
  position: relative;
}
@media (min-width: 1200px) {
  body {
    font-size: 1.25vw;
  }
}
@media (min-width: 1700px) {
  body {
    font-size: 1.1vw;
  }
}

.page__title {
  display: block;
  position: relative;
  padding: .5em 1em;
  color: #fff;
  font-size: 22px;
  font-size: 1.5em;
  margin: 0;
  width: 95%;
  background-color: #c2d245;
}
@media (min-width: 28em) {
  .page__title {
    padding-left: 2rem;
  }
}
@media (min-width: 64em) {
  .page__title {
    padding-left: 4rem;
  }
}
@media (min-width: 46em) {
  .page__title {
    width: 33%;
  }
}
@media (min-width: 64em) {
  .page__title {
    width: 30%;
  }
}
.page__title:after {
  position: absolute;
  bottom: -.75px;
  right: -.75px;
  height: 102.5%;
  width: 12px;
  content: '';
  background: url("/_themes/ml-bell/img/white-angle.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.page__title.who-we-are {
  background-color: #6c8185;
}
.page__title.our-work {
  background-color: #f6861f;
}
.page__title.contact {
  background-color: #cebf9e;
}
.page__subnav {
  color: #7f8080;
  margin-left: 1em;
  font-size: 20px;
  font-size: 1.25em;
  padding-top: 1em;
}
@media (min-width: 28em) {
  .page__subnav {
    margin-left: 2rem;
  }
}
@media (min-width: 64em) {
  .page__subnav {
    margin-left: 4rem;
  }
}
.page__subnav-item, .page__subnav-item--active {
  padding-bottom: .25em;
  position: relative;
}
.page__subnav-item:hover, .page__subnav-item--active:hover {
  color: #003951;
}
@media (min-width: 0) and (max-width: 28em) {
  .page__subnav-item--active {
    font-weight: bold;
    color: #003951;
  }
}
@media (min-width: 28em) {
  .page__subnav-item--active:before {
    content: '+';
    position: absolute;
    left: -.75em;
    color: #003951;
    font-weight: bold;
  }
}
@media (min-width: 28em) {
  .page__intro {
    display: table;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
  }
}
.page__intro-title, .page__intro h1, .page__intro h2 {
  color: #003951;
  font-weight: normal;
  font-size: 21px;
  font-size: 1.3em;
}
.page__intro-text {
  color: #7f8080;
  padding: 1em;
}
@media (min-width: 28em) {
  .page__intro-text {
    display: table-cell;
    width: 74%;
    vertical-align: middle;
    vertical-align: top;
    padding: 0 2em;
  }
}
@media (min-width: 46em) {
  .page__intro-text {
    padding: 0 4em;
  }
}
@media (min-width: 28em) {
  .page__navigation {
    display: table-cell;
    width: 26%;
    vertical-align: top;
  }
}

.content {
  padding: 0 1em;
}
@media (min-width: 28em) {
  .content {
    padding: 2rem;
  }
}
@media (min-width: 64em) {
  .content {
    padding: 4rem;
  }
}
@media (min-width: 1700px) {
  .content {
    padding: 2rem 4rem;
  }
}
.content h1,
.content h2,
.content h3, .content__header {
  color: #003951;
  font-weight: normal;
  font-size: 25px;
  font-size: 2em;
  margin: 0;
  margin-top: 1em;
}
.content h1 + p,
.content h2 + p,
.content h3 + p, .content__header + p {
  margin-top: .5em;
}
.content h1:first-child,
.content h2:first-child,
.content h3:first-child, .content__header:first-child {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.75em;
}
.content h2 {
  font-size: 1.5em;
}
.content h3 {
  font-size: 1.25em;
}
.content p + h2,
.content p + h3 {
  margin-top: 2.5em;
}
.content p:last-of-type {
  padding-bottom: 1em;
  margin-bottom: 0;
}
.content p + ul {
  margin-top: 0;
}
.content ul {
  padding-left: 0;
}
.content li {
  list-style: none;
  padding-left: 1em;
  position: relative;
}
.content li:not(.four-up__item):before {
  content: '+';
  color: #003951;
  font-weight: bold;
  position: absolute;
  left: -.0625em;
  left: 0;
}

.gallery {
  padding-bottom: 2em;
  padding-bottom: 1em;
}
.gallery__modal {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 50%;
  background-color: #fff;
  width: 80%;
  left: 10%;
}
.gallery--open .gallery__modal {
  display: block;
  visibility: visible;
}
.gallery__screen {
  display: none;
  visibility: hidden;
  background-color: #2e4144;
  opacity: .75;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gallery--open .gallery__screen {
  display: block;
  visibility: visible;
  opacity: .75;
}
.gallery__photobox {
  padding-top: 50%;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.gallery__photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.gallery__photo.is-current {
  opacity: 1;
}
.gallery__detail {
  padding: .5em;
}
.gallery__close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 3em;
  line-height: 0;
  cursor: pointer;
}

.header {
  display: table;
  width: 100%;
  height: 60px;
  padding-bottom: 10px;
  padding-left: 1em;
  padding-top: 1em;
  background-color: #fff;
  position: relative;
  -webkit-transition: margin-top 1s;
          transition: margin-top 1s;
}
@media (min-width: 28em) {
  .header {
    padding: 2em;
    padding-right: 1em;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 2em;
  }
}
@media (min-width: 1700px) {
  .header {
    padding: 1.5em 2em 1.5em 2em;
  }
}
.header__logo {
  display: table-cell;
  width: 50%;
  vertical-align: bottom;
  padding-bottom: 0;
}
@media (min-width: 46em) {
  .header__logo {
    width: 218px;
  }
}
@media (min-width: 64em) {
  .header__logo {
    width: auto;
    max-width: 260px;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    max-width: 16.25em;
  }
}
@media (min-width: 28em) {
  .header__logo svg {
    max-height: 80px;
  }
}
@media (min-width: 64em) {
  .header__logo svg {
    max-height: 133px;
    max-height: 70px;
    width: 192px;
  }
}
@media (min-width: 1200px) {
  .header__logo svg {
    max-height: 4.375em;
    width: 12em;
  }
}
.header__nav {
  display: table-cell;
  vertical-align: bottom;
}
@media (min-width: 28em) {
  .header__nav {
    position: relative;
  }
}
.header__icons {
  position: absolute;
  top: 1.75em;
  right: 2em;
  width: 5em;
}
@media (min-width: 28em) {
  .header__icons {
    top: 0;
  }
}
.header__search {
  max-width: 2em;
  display: inline-block;
  display: none;
  float: right;
  color: #fff;
}
.header__search svg {
  height: 1.5em;
  width: 1em;
}
.header__hamburger {
  display: inline-block;
  max-width: 1.5em;
  height: 1em;
}
@media (min-width: 28em) {
  .header__hamburger {
    display: none;
    visibility: hidden;
  }
}
.header__yellowWedge {
  position: absolute;
  right: 0;
  top: 0;
  opacity: .9;
  height: 100%;
  width: 35px;
  right: 10px;
}
@media (min-width: 28em) {
  .header__yellowWedge {
    width: 70px;
    right: 20px;
  }
}
@media (min-width: 46em) {
  .header__yellowWedge {
    width: 70px;
    right: 80px;
  }
}
@media (min-width: 1200px) {
  .header__yellowWedge {
    right: 6em;
    width: 4em;
  }
}
.homepage .header__yellowWedge {
  height: 360px;
  height: 28em;
  width: 110px;
  right: 0;
}
@media (min-width: 28em) {
  .homepage .header__yellowWedge {
    right: -.5px;
    height: 37em;
    width: 23%;
  }
}
@media (min-width: 46em) {
  .homepage .header__yellowWedge {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .homepage .header__yellowWedge {
    width: 20%;
  }
}
.header:after {
  position: absolute;
  height: 100%;
  content: '';
  background-color: #fdb727;
  top: 0;
  right: 0;
  opacity: .9;
  width: 10px;
}
.homepage .header:after {
  opacity: 0;
}
@media (min-width: 28em) {
  .header:after {
    width: 20px;
  }
}
@media (min-width: 46em) {
  .header:after {
    width: 80px;
  }
}
@media (min-width: 1200px) {
  .header:after {
    width: 6em;
  }
}
.header--show-mobile-nav {
  margin-top: 160px;
}

.main-nav {
  width: 100%;
  display: block;
  color: #003951;
  text-transform: uppercase;
}
@media (min-width: 0em) and (max-width: 28em) {
  .main-nav {
    position: absolute;
    top: -160px;
    left: 0;
  }
}
@media (min-width: 28em) {
  .main-nav {
    position: relative;
    display: inline-block;
    width: auto;
    float: right;
    margin-right: 120px;
    margin-right: 32%;
  }
}
@media (min-width: 46em) {
  .main-nav {
    display: table;
    padding-right: 0;
    margin-right: 0;
    width: auto;
  }
}
.main-nav__item, .main-nav__item--active {
  text-align: center;
  line-height: 40px;
  vertical-align: bottom;
}
@media (min-width: 28em) {
  .main-nav__item, .main-nav__item--active {
    text-align: right;
    line-height: 120%;
  }
}
@media (min-width: 46em) {
  .main-nav__item, .main-nav__item--active {
    display: table-cell;
    padding: 0 1em;
  }
  .main-nav__item:last-of-type, .main-nav__item--active:last-of-type {
    padding-right: 0;
    padding-left: 1em;
  }
}
@media (min-width: 46em) {
  .main-nav__item--active .main-nav__link, .main-nav__item--active--active .main-nav__link {
    border-bottom: 4px solid #6c8185;
    margin-bottom: -4px;
  }
}
.main-nav__item:last-of-type, .main-nav__item--active:last-of-type {
  text-align: right;
}
@media (min-width: 46em) {
  .main-nav__item:last-of-type, .main-nav__item--active:last-of-type {
    color: #fff;
    padding-left: 45px;
  }
}
@media (min-width: 1200px) {
  .main-nav__item:last-of-type, .main-nav__item--active:last-of-type {
    padding-left: 4em;
  }
}
.main-nav__link {
  text-decoration: none;
  -webkit-transition: color .25s;
          transition: color .25s;
  display: block;
}
@media (min-width: 46em) {
  .main-nav__link {
    text-align: center;
  }
}
.main-nav__link:hover {
  color: #f6861f;
}
@media (min-width: 0em) and (max-width: 28em) {
  .main-nav__link {
    background-color: #003951;
    color: #fdb727;
    position: relative;
    z-index: 2;
  }
}

.hero:before, .hero:after {
  position: absolute;
  height: 100%;
  width: 100%;
  width: -webkit-calc((100% - 1200px) /2);
  width: calc((100% - 1200px) /2);
  top: 0;
  background-color: #cdcccb;
  opacity: .9;
  content: '';
}
@media (min-width: 1200px) {
  .hero:before, .hero:after {
    width: 5%;
  }
}

.hero {
  position: relative;
  padding-top: 80%;
}
@media (min-width: 28em) {
  .homepage .hero {
    padding-top: 0;
  }
}
.hero:before {
  left: 0;
  z-index: 1;
}
.hero:after {
  right: 0;
}
@media (min-width: 28em) {
  .hero {
    padding-top: 40%;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 25%;
  }
}
@media (min-width: 1700px) {
  .hero {
    padding-top: 21%;
  }
}
.hero__container {
  position: relative;
}
.hero__beauty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/img/Coopers Hawk2-retouched-small.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.body {
  background-image: url("../img/ml-texture.jpg");
  position: relative;
}
.body__container {
  background-color: #fff;
}
.body__headline {
  font-weight: normal;
  margin: 0;
  padding: .5em 1em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  font-size: 20px;
  font-size: 1.5em;
  color: #003951;
  background-color: #fff;
}
@media (min-width: 28em) {
  .body__headline {
    padding-top: .5em;
    font-size: 2em;
    padding-right: 25%;
    line-height: 1.1;
  }
}

.detail-nav__list, .detail-nav__list--desk {
  text-align: center;
  display: table;
}

.detail-nav {
  font-weight: bold;
}
.detail-nav__list {
  width: 100%;
  margin: 0;
}
.detail-nav__list--desk {
  position: relative;
  float: right;
  margin-top: 2em;
  width: 20%;
}
@media (min-width: 64em) {
  .detail-nav__list--desk {
    width: 15%;
  }
}
.detail-nav__item {
  display: table-cell;
  padding: 0 0.5em;
}
.detail-nav__item--desk {
  width: 5em;
  padding: 1em 0 0;
  margin: 0 auto;
}
.detail-nav__item--desk:first-of-type {
  padding-top: 0;
}
.detail-nav__item--desk + .detail-nav__item--desk {
  border-top: 2px solid #fff;
}
.detail-nav__item--desk:hover {
  color: #003951;
}
.detail-nav__link {
  text-decoration: none;
  font-size: 16px;
  font-size: 1em;
}
.detail-nav__text {
  text-transform: uppercase;
}
.detail-nav__icon {
  max-height: 40px;
}
.detail-nav__icon.plan {
  margin-right: -10px;
}
.detail-nav--mobile {
  color: #fdb727;
  background-color: #fff;
}
@media (min-width: 28em) {
  .detail-nav--mobile {
    display: none;
    visibility: hidden;
  }
}
.detail-nav--desk {
  color: #fff;
  display: none;
  visibility: hidden;
  width: 100%;
}
@media (min-width: 28em) {
  .detail-nav--desk {
    display: inline-block;
    visibility: visible;
  }
}

.industries {
  background-color: #f2f2f2;
  margin: 0;
  max-width: 100%;
}
.industries__headline {
  color: #7f8080;
  font-size: 18px;
  font-size: 1.25em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: .5em;
}
.industries__list {
  color: #fff;
}
@media (min-width: 28em) {
  .industries__list {
    width: 100%;
    text-align: center;
    padding: 2em 3em 0.5em;
  }
}
.industries__item {
  border: 6px solid #003951;
  background: #324E5D;
  margin-top: 2px;
}
@media (min-width: 28em) {
  .industries__item {
    display: inline-block;
    width: 20%;
    width: 19%;
    border-width: 0;
    background-color: transparent;
    color: #f6861f;
    padding: 0;
  }
}
.industries__link {
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
}
.industries__link:hover {
  color: #cebf9e;
  background-color: #95af3c;
}
@media (min-width: 28em) {
  .industries__link:hover {
    background-color: transparent;
    color: #324E5D;
  }
}
.industries__description {
  width: 90%;
  vertical-align: middle;
  display: block;
  padding-left: 1em;
}
@media (min-width: 28em) {
  .industries__description {
    padding: 0;
    width: 100%;
  }
}
.industries__icon {
  height: 2em;
  position: relative;
  overflow: visible;
  display: block;
}
@media (min-width: 28em) {
  .industries__icon {
    position: relative;
    visibility: visible;
    height: 10em;
    width: 100%;
    padding: 0;
    color: inherit;
  }
}
.industries__fg {
  -webkit-transform: scale(6) translate(-15px, -11px);
      -ms-transform: scale(6) translate(-15px, -11px);
          transform: scale(6) translate(-15px, -11px);
  color: #fff;
}
@media (min-width: 28em) {
  .industries__fg {
    display: inline-block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.industries__bg {
  display: none;
  visibility: hidden;
  color: #f6861f;
  color: inherit;
}
@media (min-width: 28em) {
  .industries__bg {
    display: inline-block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.page__intro + .industries {
  margin-top: 5rem;
}

.clients {
  background-color: #fff;
}
.clients__headline {
  color: #7f8080;
  font-size: 18px;
  font-size: 1.25em;
  font-weight: normal;
  text-align: center;
  padding: 1em;
  margin: 0;
}
@media (min-width: 28em) {
  .clients__headline {
    padding-left: 25%;
    padding-right: 25%;
  }
}
.clients__list {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2em;
  text-align: center;
}
@media (min-width: 28em) {
  .clients__list {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.clients__item {
  display: inline-block;
  text-align: center;
}
.clients__item:nth-of-type(n+3) {
  display: none;
  visibility: hidden;
}
@media (min-width: 30em) {
  .clients__item:nth-of-type(n+6) {
    display: inline-block;
    visibility: visible;
  }
}
@media (min-width: 46em) {
  .clients__item:nth-of-type(n+4) {
    display: inline-block;
    visibility: visible;
  }
}
@media (min-width: 64em) {
  .clients__item:nth-of-type(n+3) {
    display: inline-block;
    visibility: visible;
  }
}
.clients__link {
  display: block;
}
.clients__logo {
  width: 100px;
  margin: 5px;
  vertical-align: middle;
}

.footer {
  background-color: #6c8185;
}
.footer__tagline {
  margin: 0;
  color: #fff;
  background-color: #fdb727;
  padding: .5em;
  padding-left: 1em;
  position: relative;
  width: 90%;
  font-weight: bold;
}
@media (min-width: 28em) {
  .footer__tagline {
    padding-left: 2rem;
  }
}
@media (min-width: 64em) {
  .footer__tagline {
    padding-left: 4rem;
  }
}
.footer__tagline:before {
  position: absolute;
  content: '';
  height: 100%;
  background-color: #fdb727;
  top: 0;
  right: 100%;
  width: 100%;
}
.footer__tagline:after {
  position: absolute;
  top: 0;
  right: -1px;
  height: 115%;
  width: 10px;
  content: '';
  color: #6c8185;
  background-color: #fff;
  background: url("/_themes/ml-bell/img/footer-angle.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}
@media (min-width: 28em) {
  .footer__tagline {
    max-width: 50%;
  }
}
.footer__contact {
  color: #cdcccb;
  font-size: 21px;
  font-size: 1.25em;
  text-align: center;
}
@media (min-width: 28em) {
  .footer__contact {
    width: 49%;
    display: inline-block;
    text-align: left;
    padding-left: 1em;
  }
}
@media (min-width: 28em) {
  .footer__nav {
    width: 50%;
    display: inline-block;
  }
}
.footer__tel {
  font-size: 38px;
  font-size: 2em;
  display: block;
  font-weight: bold;
  color: #fdb727;
  text-decoration: none;
}
.footer__sitenav {
  color: #cdcccb;
  text-align: right;
  list-style: none;
  text-transform: uppercase;
  display: none;
  visibility: hidden;
}
@media (min-width: 28em) {
  .footer__sitenav {
    display: block;
    visibility: visible;
    padding-right: 1em;
  }
}
.footer__link {
  text-decoration: none;
}
.footer__item {
  padding-bottom: .5em;
}
.footer__copyright {
  color: #cdcccb;
  font-size: 11px;
  font-size: .75em;
  text-align: center;
}
@media (min-width: 28em) {
  .footer__copyright {
    text-align: left;
  }
}
.footer__bottom {
  background-color: #002835;
  padding: .75em;
}

.social-link__list {
  display: table;
  width: 100%;
  padding: .5em;
}
@media (min-width: 28em) {
  .social-link__list {
    display: block;
    text-align: right;
  }
}
.social-link__item {
  display: table-cell;
  padding: 0.25em;
  color: #fff;
}
@media (min-width: 28em) {
  .social-link__item {
    display: inline-block;
    width: 3em;
  }
}
.social-link__link {
  min-height: 2em;
  position: relative;
}
.social-link__svg {
  height: 4em;
}
@media (min-width: 28em) {
  .social-link__svg {
    height: 2.5em;
  }
}
.social-link__bg {
  width: 110%;
  color: #fdb727;
}
.social-link__fg {
  position: absolute;
  left: -50px;
  top: 50px;
  display: block;
}

@media (min-width: 28em) {
  .three-up {
    padding: .2em;
  }
}
.three-up__item {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 1.5em;
}
@media (min-width: 28em) {
  .three-up__item {
    padding-right: 1.5em;
  }
}
@media (min-width: 35em) {
  .three-up__item {
    width: 49%;
  }
}
@media (min-width: 64em) {
  .three-up__item {
    width: 32.5%;
  }
}
.three-up__item:nth-of-type(3n) {
  padding-right: 0;
}
.three-up__header {
  color: #003951;
  font-weight: normal;
}
.three-up__link {
  text-decoration: none;
}
.three-up__link:hover .three-up__header {
  text-decoration: underline;
}

@media (min-width: 28em) {
  .four-up {
    display: table;
    display: block;
    table-layout: fixed;
    width: 100%;
  }
  .four-up:last-of-type {
    margin-bottom: 2em;
  }
}
@media (min-width: 28em) {
  .four-up .four-up__item {
    display: table-cell;
    display: inline-block;
    height: 100%;
    width: 23%;
    padding: 0 2% 0 0%;
    margin-right: -5px;
    vertical-align: top;
    cursor: pointer;
  }
}
.four-up__photo {
  position: relative;
  width: 100%;
  padding-top: 85%;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
.four-up__caption-hidden {
  color: #fff;
  padding: .5em;
  width: 100%;
  background-color: rgba(108, 129, 133, 0.9);
  bottom: -4em;
  -webkit-transition: all .25s;
          transition: all .25s;
}
@media (min-width: 28em) {
  .four-up__caption-hidden {
    position: absolute;
  }
}
.four-up__photo:hover .four-up__caption-hidden {
  bottom: 0;
}

.outtro {
  background-color: #f2f2f2;
  padding: 1em;
  padding-top: 1.5em;
  padding-bottom: 3em;
}
@media (min-width: 28em) {
  .outtro {
    padding: 2rem;
    margin: -2rem;
    margin-top: 2em;
  }
}
@media (min-width: 64em) {
  .outtro {
    padding: 4rem;
    margin: -4rem;
    margin-top: 2em;
  }
}
.outtro__header, .outtro h1, .outtro h2, .outtro h3 {
  color: #003951;
  margin-bottom: 0;
}
.outtro__header + p, .outtro__header + ul, .outtro h1 + p, .outtro h1 + ul, .outtro h2 + p, .outtro h2 + ul, .outtro h3 + p, .outtro h3 + ul {
  margin-top: 0;
}
.outtro__featured-item:before, .outtro li:before {
  content: '+ ';
  color: #003951;
  font-weight: bold;
}
.outtro p:first-child {
  margin-top: 0;
  padding-top: 0;
}
.outtro p + ul {
  margin-top: 0;
}
.outtro ul {
  margin-bottom: .5em;
}
.outtro ul + p {
  margin-top: 2em;
}

.photogroup {
  display: table;
  width: 100%;
}
.photogroup__main {
  display: table-cell;
  width: 75%;
  height: 200px;
  position: relative;
}
.photogroup__main .photo {
  height: 100%;
}
.photogroup__side {
  display: table-cell;
  width: 25%;
  padding-left: 1%;
  height: 200px;
  position: relative;
}
.photogroup__side .photo {
  height: 33.33%;
}
.photogroup__side .photo + .photo {
  margin-top: .25em;
  height: -webkit-calc(33.3% - .25em);
  height: calc(33.3% - .25em);
}
.photogroup .photo {
  display: block;
  background-color: #f2f2f2;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.client-nav {
  display: none;
  visibility: hidden;
  position: absolute;
  width: 8em;
  right: 0;
  top: 2.25em;
  top: 0;
  text-align: right;
  font-size: 14px;
  font-size: .8em;
  color: #fff;
}
@media (min-width: 46em) {
  .client-nav {
    display: block;
    visibility: visible;
  }
  .homepage .client-nav {
    display: none;
    visibility: hidden;
  }
}
.client-nav__item {
  padding-bottom: .25em;
}
.client-nav__link:hover {
  text-decoration: underline;
}

.news.page {
  padding-bottom: 4em;
  margin-bottom: -1em;
}
.news--item {
  padding-bottom: 2em;
}
.news--title {
  font-weight: bold;
  font-size: 20px;
  font-size: 1.5em;
  color: #003951;
}
.news--date {
  color: #cdcccb;
  font-style: italic;
}
.news--link:hover {
  text-decoration: underline;
}
.news-entry__date {
  font-size: .85em;
  color: #6c8185;
  text-transform: uppercase;
}
.news-entry__content a:hover {
  color: #003951;
}

.pagination {
  padding: 1em 0;
}

.contact-form {
  font-size: 15px;
  font-size: 1em;
}
.contact-form form {
  display: table;
  width: 100%;
}
.contact-form label {
  width: 25%;
  display: inline-block;
  text-align: right;
  padding: .5em;
  padding-right: 1em;
  font-weight: bold;
  color: #324E5D;
}
.contact-form input, .contact-form textarea {
  display: inline-block;
  width: 50%;
  margin-bottom: 2em;
  vertical-align: top;
  background-color: #f2f2f2;
  border-width: 0;
  padding: .5em;
  font-size: inherit;
}
.contact-form textarea {
  min-height: 6em;
}
.contact-form__row {
  display: table-row;
  width: 100%;
}
.contact-form .contact-form__submit {
  display: inline;
  padding: .5em;
  font-size: 1.25em;
  background-color: #f6861f;
  border: 2px solid #d96d09;
  color: #fff;
  margin-left: 25%;
  -webkit-transition: all .25s;
          transition: all .25s;
  font-weight: bold;
}
.contact-form .contact-form__submit:hover {
  background-color: #6c8185;
  border: 2px solid #2e4144;
  cursor: pointer;
}
@media (min-width: 46em) {
  .contact-form .contact-form__submit {
    width: 25%;
  }
}

.client-photos {
  width: 100%;
  border: none;
}
@media (min-width: 28em) {
  .client-photos {
    min-height: 400px;
  }
}
@media (min-width: 64em) {
  .client-photos {
    min-height: 600px;
  }
}

.person {
  border-top: 1px solid #cdcccb;
  padding-top: 1.5em;
}
@media (min-width: 46em) {
  .person {
    display: table-row;
  }
}
.person__bio {
  vertical-align: top;
  display: table-cell;
  width: 100%;
}
.person__headshot {
  display: table-cell;
  vertical-align: top;
  margin-right: 1em;
  margin-bottom: 1em;
}
.person__name {
  color: #003951;
  margin: 0;
  padding-top: 0;
  line-height: 1;
  font-weight: 400;
  font-size: 2em;
}
.person__title {
  font-weight: bold;
  color: #f6861f;
  margin: 0;
  padding-top: 0;
  text-transform: uppercase;
}
.person__gap {
  border: none;
  margin: 2.5em;
}

.gallery__modal {
  z-index: 3;
}

.header__nav,
.header__icons,
.footer__tagline,
.gallery__screen,
.detail-nav__list--desk {
  z-index: 2;
}

.header__yellowWedge {
  z-index: 1;
}

* {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #cdcccb;
}

.svg-load {
  display: none;
  visibility: hidden;
}

svg {
  display: inline-block;
  max-width: 100%;
}
