@mixin plain-list() {
  margin: 0;
  padding: 0;
  
  li {
    list-style: none;
  }  
}

@mixin inline-list() {
  @include plain-list();
  
  li {
    display: inline;
  }
}

// all the centered elements
@mixin centered-element($width:$row-width) {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 $column-gutter/2 1.2rem;
  width: $width;
}

//block area spacing
@mixin block-area-spacing($centered:false) {
  @if ($centered) {
    margin: 2em auto 0;
  } @else {
    margin: 2em 0 0;    
  }
  padding: 1em 0 2em;
}

//for less faux-bold looking fonts in Webkit
@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
