//Colors
$orange: #f7971c;
$yellow: #f9be00;
$blue: #00748c;
$green: #77871c;
$almostblack: #231f20;
$dgrey: #555559;
$mgrey: #9fa1a1;
$lgrey: mix($dgrey, #fff, 25%);
$red: #e84a37;

//Transitions
$global-transition-time: 200ms;
$transition-all: all $global-transition-time ease;
$transition-color: color $global-transition-time ease;
$transition-opacity: opacity $global-transition-time ease;
$transition-padding: padding $global-transition-time ease;
$transition-position:
  top $global-transition-time ease,
  right $global-transition-time ease, 
  bottom $global-transition-time ease, 
  left $global-transition-time ease;
$transition-size:
  width $global-transition-time ease,
  height $global-transition-time ease;

//RADII
$button-radius:1rem;

//Grid Stuff
$row-width: rem-calc(1120);
$column-gutter: rem-calc(30);
$total-columns: 12;

// Column Widths. Math? Ain't nobody go time for that.
$one-column-width: 1/$total-columns * $row-width;
$two-column-width: 2/$total-columns * $row-width;
$three-column-width: 3/$total-columns * $row-width;
$four-column-width: 4/$total-columns * $row-width;
$five-column-width: 5/$total-columns * $row-width;
$six-column-width: 6/$total-columns * $row-width;
$seven-column-width: 7/$total-columns * $row-width;
$eight-column-width: 8/$total-columns * $row-width;
$nine-column-width: 9/$total-columns * $row-width;
$ten-column-width: 10/$total-columns * $row-width;
$eleven-column-width: 11/$total-columns * $row-width;
$twelve-column-width: 12/$total-columns * $row-width;

//Breakpoints
$baby-lap-break: 28em;
$lap-break: 46em;
$desk-break: 64em;
$wall-break: 75em;

$screen: 'only screen';

$landscape: '#{$screen} and (orientation: landscape)';
$portrait: '#{$screen} and (orientation: portrait)';

$hand-up: $screen;
$hand-only: '#{$screen} and (max-width: #{$lap-break})';

$baby-lap-up: '#{$screen} and (min-width:#{$baby-lap-break})';
$baby-lap-only: '#{$screen} and (min-width:#{$baby-lap-break}) and (max-width:#{$lap-break})';

$lap-up: '#{$screen} and (min-width:#{$lap-break})';
$lap-only: '#{$screen} and (min-width:#{$lap-break}) and (max-width:#{$desk-break})';

$desk-up: '#{$screen} and (min-width:#{$desk-break})';
$desk-only: '#{$screen} and (min-width:#{$desk-break}) and (max-width:#{$wall-break})';

$wall-up: '#{$screen} and (min-width:#{$wall-break})';
