.clients {
  @extend %content-section;
  @extend %main-font;

  background-color: #fff;
  
  &__headline {
    color: $dkgray;
    font-size: 18px;
    font-size: 1.25em;
    font-weight: normal;
    text-align: center;
    padding: 1em;
    margin: 0;

    @include breakpoint($baby) {
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  &__list {
    @extend %plain-list;
    // display: table;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2em;
    text-align: center;

    @include breakpoint($baby) {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  &__item {
    // display: table-cell;
    display: inline-block;
    text-align: center;
    
    &:nth-of-type(n+3) {
      display: none;
      visibility: hidden;
    }
    
    @include breakpoint($baby +2) {
      &:nth-of-type(n+6) {
        // display: table-cell;
        display: inline-block;
        visibility: visible;
      }
    }
    
    @include breakpoint($tab) {
      &:nth-of-type(n+4) {
        // display: table-cell;
        display: inline-block;
        visibility: visible;
      }
    }
    
    @include breakpoint($desk) {
      &:nth-of-type(n+3) {
        // display: table-cell;
        display: inline-block;
        visibility: visible;
      }
    }
  }

  &__link {
    display: block;
  }

  &__logo {
    // display: inline-block;
    width: 100px;
    // height: 100px;
    // background-color: #bada55;
    margin: 5px;
    vertical-align: middle;
  }
}