.footer {
  background-color: $greyblue;
  @extend %accent-font;

  &__tagline {
    margin: 0;
    color: #fff;
    background-color: $yellow;
    padding: .5em;
    padding-left: 1em;
    position: relative;
    width: 90%;
    font-weight: bold;


    @include breakpoint($baby) {
      padding-left: map-get($padding, med);
    }

    @include breakpoint($desk) {
      padding-left: map-get($padding, large);
    }
    
    &:before {
      position: absolute;
      content: '';
      height: 100%;
      background-color: $yellow;
      top: 0;
      right: 100%;
      width: 100%;
    }

    &:after {
      position: absolute;
      top: 0;
      right: -1px;
      height: 115%;
      width: 10px;
      content: '';
      color: $greyblue;
      background-color: #fff;
      background:url("/_themes/ml-bell/img/footer-angle.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: cover;


      // background-color: #fff;
      
    }

    @include breakpoint($baby) {
      max-width: 50%;
    }
  }

  &__container {
    @extend %content-section;
  }

  &__contact {
    @extend %main-font;
    color: $gray;
    font-size: 21px;
    font-size: 1.25em;
    text-align: center;

    @include breakpoint($baby) {
      width: 49%;
      display: inline-block;
      text-align: left;
      padding-left: 1em;
    }
    
  }
  &__nav {
    @include breakpoint($baby) {
      width: 50%;
      display: inline-block;
    }

  }

  &__tel {
    font-size: 38px;
    font-size: 2em;
    display: block;
    font-weight: bold;
    color: $yellow;
    text-decoration: none;
  }

  &__sitenav {
    @extend %accent-font;
    color: $gray;
    text-align: right;
    list-style: none;
    text-transform: uppercase;

    display: none;
    visibility: hidden;
    @include breakpoint($baby) {
      display: block;
      visibility: visible;
      padding-right: 1em;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__item {
    padding-bottom: .5em;
    // &:last-of-type() {
    //   padding-bottom: 0;
    // }
  }

  &__copyright {
    @extend %main-font;
    @extend %content-section;
    color: $gray;
    font-size: 11px;
    font-size: .75em;
    text-align: center;

    @include breakpoint($baby) {
      text-align: left;
    }
  }
  &__bottom {
    background-color: $dkdeepblue;
    padding: .75em;

  }

}