  %screenedsection {
    position: absolute;
    height: 100%;
    width: 100%;
    width: calc((100% - 1200px) /2);
    top: 0;
    background-color: $gray;
    opacity: .9;
    content: '';

    @include breakpoint($margins-appear) {
      width: 5%;
    }
  }

.hero {
  position: relative;

  .homepage & {
    @include breakpoint($baby) {
      padding-top: 0;
    }
  }

  &:before {
    @extend %screenedsection;
    left: 0;
    z-index: 1;
  }
  &:after {
    @extend %screenedsection;
    right: 0;
    // width: 50%;
  }

  padding-top: 80%;
  @include breakpoint($baby) {
    padding-top: 40%;
  }
  
  @include breakpoint($margins-appear) {
    padding-top: 25%;
  }
  
  @include breakpoint(1700px) {
    padding-top: 21%;
  }

  &__container {
    @extend %content-section;
    position: relative;
    // min-height: 350px;
    // background-color: #bada55;
  }

  &__beauty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/img/Coopers Hawk2-retouched-small.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

}