

.main-nav {
  @extend %accent-font;
  @extend %plain-list;

  width: 100%;
  display: block;
  // list-style: none;
  color: $deepblue;
  text-transform: uppercase;
  

  @include breakpoint(0em  $baby) {
    position: absolute;
    top: -160px;
    left: 0;
  }

  @include breakpoint($baby) {
    position: relative;
    display: inline-block;
    width: auto;
    float: right;
    margin-right: 120px;
    margin-right: 32%;
  }

  @include breakpoint($tab) {
    display: table;
    padding-right: 0;
    margin-right: 0;
    width: auto;
  }

  @include breakpoint($desk) {
    // padding-right: 1.5em;
  }
  @include breakpoint($margins-appear) {
    // padding-right: 15%;
  }

  &__item,
  &__item--active {
    text-align: center;
    line-height: 40px;
    vertical-align: bottom;

    // @include breakpoint(0 $baby) {
    //   line-height: 40px;
    // }

    @include breakpoint($baby) {
      text-align: right;
      line-height: 120%;
    }
    @include breakpoint($tab) {
      display: table-cell;
      padding: 0 1em;
      &:last-of-type {
        padding-right: 0;
        padding-left: 1em;
      }
    }

    &--active {
      @include breakpoint($tab) {
        .main-nav__link {
          border-bottom: 4px solid $greyblue;
          margin-bottom: -4px;
        }
      }
    }

    // contact is supposed to be in the yellow wedge and different
    &:last-of-type {
      text-align: right;
      @include breakpoint($tab) {
        color: #fff;
        padding-left: 45px
      }
      @include breakpoint($margins-appear) {
      padding-left: 4em;
      }
    }
  }

  &__link {
    text-decoration: none;
    transition: color .25s;
    display: block;
    // text-align: right;

    @include breakpoint($tab) {
      text-align: center;

    }

    &:hover {
      color: $dkyellow;
    }

    @include breakpoint(0em $baby) {
      background-color: $deepblue;
      color: $yellow;
      // border: 1px solid $dkdeepblue;
      // border-bottom-width: 0;

      // Get it above the yellow wedge
      position: relative;
      z-index: 2;
    }
    

  }
}