.page {
  @extend %main-font;
  


  &__title {
    @extend %accent-font;
    display: block;
    position: relative;
    padding: .5em 1em;
    color: #fff;
    font-size: 22px;
    font-size: 1.5em;
    margin: 0;
    width: 95%;

    @include breakpoint($baby) {
      padding-left: map-get($padding, med);
    }

    @include breakpoint($desk) {
      padding-left: map-get($padding, large);
    }

    @include breakpoint($tab) {
      width: 33%;
    }

    @include breakpoint($desk) {
      width: 30%;
    }

    // &:before {
    //   position: absolute;
    //   content: '';
    //   right: 0;
    //   top: 0;
    //   height: 100%;
    //   width: 2px;
    //   background-color: #fff;
    // }
    &:after {
      position: absolute;
      bottom: -.75px;
      right: -.75px;
      height: 102.5%;
      width: 12px;
      content: '';
      background:url("/_themes/ml-bell/img/white-angle.svg");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;

    }

    background-color: $green;
    &.who-we-are {
      background-color: $greyblue;
    }
    &.our-work {
      background-color: $dkyellow;
    }
    &.contact {
      background-color: $gold;
    }
  }

  &__subnav {
    @extend %plain-list;
    @extend %main-font;
    color: $dkgray;
    margin-left: 1em;

    @include breakpoint($baby) {
      margin-left: map-get($padding, med);
    }

    @include breakpoint($desk) {
      margin-left: map-get($padding, large);
    }
    font-size: 20px;
    font-size: 1.25em;
    padding-top: 1em;
  }

  &__subnav-item,
  &__subnav-item--active {
    padding-bottom: .25em;
    position: relative;
    
    &:hover {
      color: $deepblue;
    }
  }
  &__subnav-item--active {
    @include breakpoint(0 $baby) {
      font-weight: bold;
      color: $deepblue;
    }

    @include breakpoint($baby) {
      &:before, {
        content: '+';
        position: absolute;
        left: -.75em;
        color: $deepblue;
        font-weight: bold;
      }
    }
  }




  &__intro {
    @include breakpoint($baby) {
      display: table;
      margin-top: 1em;
      margin-bottom: 1em;
      width: 100%;
    }
  }

  &__intro-title,
  &__intro h1,
  &__intro h2 {
    color: $deepblue;
    font-weight: normal;
    font-size: 21px;
    font-size: 1.3em;
  }

  &__intro-text {
    color: $dkgray;
    padding: 1em;

    @include breakpoint($baby) {
      display: table-cell;
      width: 74%;
      vertical-align: middle;
      vertical-align: top;
      padding: 0 2em;
    }
    @include breakpoint($tab) {
      padding: 0 4em;
    }
  }
  &__navigation {
    @include breakpoint($baby) {
      display: table-cell;
      width: 26%;
      vertical-align: top;
    }
  }


}