.photogroup {
  display: table;
  width: 100%;

  &__main {
    display: table-cell;
    width: 75%;
    height: 200px;
    position: relative;

    .photo {
      height: 100%;
    }
  }
  
  &__side {
    display: table-cell;
    width: 25%;
    padding-left: 1%;
    height: 200px;
    position: relative;

    .photo {
      height: 33.33%;
      // margin-left: 1.33%;
      & + .photo {
        margin-top: .25em;
        height: calc(33.3% - .25em);
      }
    }
  }

  .photo {
    display: block;
    background-color: $ltgray;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

    background-size: cover;
    background-position: center center;
  }
}