.social-link {
  &__list {
    @extend %plain-list;
    display: table;
    width: 100%;
    padding: .5em;

    @include breakpoint($baby) {
      display: block;
      text-align: right;
    }
  }



  &__item {
    display: table-cell;
    // width: 19%;
    padding: 0.25em;
    color: #fff;
    @include breakpoint($baby) {
      display: inline-block;
      width: 3em;
    }
  }

  &__link {
    // display: inline-block;
    min-height: 2em;
    position: relative;
  }

  &__svg {
    height: 4em;
    @include breakpoint($baby) {
      height: 2.5em;
    }
  }

  &__bg {
    width: 110%;
    color: $yellow;
    // display: none;
  }

  &__fg {
    // width: 80%;
    // display: none;
    position: absolute;
    left: -50px;
    top: 50px;
    display: block;
  }
}