.grid-cell {
  @extend .column-6--hand;
  @extend .column-4--lap;
  @extend .column-3--desk;
  
  line-height: 0;
  overflow: hidden;
  position: relative;
    
  img {
//    opacity: .8;
//    transition: $transition-opacity;
    width: 100%;
  }
}
