$z-home-bg: -1;
$z-flash-box: 1;
$z-cloud-box: 2;
$z-camera-box: 2;
$z-circle-box: 2;
$z-p: 3;
$z-highlight-area: 4;
$z-page-header: 5;
$z-interior-h1: 10;
$z-h1: 15;
$z-main-logo: 20;
$z-author-bio: 25;
$z-caption: 30;
$z-style3: 35;
$z-nav: 50;
$z-dotted-box: 55;
$z-more-link: 99;
$z-header: 100;
$z-page-footer: 105;
$z-modal: 9000;

