// colors
$deepblue: #003951;
$medblue: #324E5D;
$greyblue: #6c8185;
$green: #c2d245;
$yellow: #fdb727;
$gold: #cebf9e;
$gray: #cdcccb;
$dkdeepblue: #002835;
$dkmedblue: #1c333e;
$dkgreyblue: #2e4144;
$dkgreen: #95af3c;
$dkyellow: #f6861f;
$dkgold: #a78d62;
$dkgray: #7f8080;
$ltgray: #f2f2f2;

// Global padding 
$small-padding: 1em;
$med-padding: 2em;
$large-padding: 3em;

$padding: (
	small: 1rem,
	med: 2rem,
	large: 4rem
);